<!DOCTYPE html>
<html class="no-js" lang="en">

<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Portfolio</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="/static/base.css">
    <link rel="stylesheet" href="/static/vendor.css">
    <link rel="stylesheet" href="/static/main.css">

    <!-- script
    ================================================== -->
    <script src="/static/modernizr.js"></script>
    <script src="/static/pace.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
    <link rel="manifest" href="/static/images/site.webmanifest">

</head>

<body id="top">

    <div id="preloader">
        <div id="loader"></div>
    </div>

    <!-- site header
    ================================================== -->
    <header class="s-header">



        <nav class="header-nav-wrap">
            <ul class="header-main-nav">
                <li class="current"><a class="smoothscroll" href="#intro" title="intro">Intro</a></li>
                <li><a class="smoothscroll" href="#about" title="about">About Me</a></li>
                <li><a class="smoothscroll" href="#services" title="services">Football Highlights</a></li>
                <li><a class="smoothscroll" href="#works" title="works">My Projects</a></li>
                <li><a class="smoothscroll" href="#contact" title="contact us">Contact Me</a></li>
            </ul>

            <ul class="header-social">
                <a href="https://www.linkedin.com/in/connor-mcclure-85b13722b">LinkedIn</a>.
                <a href="tel:27-73-877-7945">Call Me</a>
            </ul>
        </nav>

        <a class="header-menu-toggle" href="#"><span>Menu</span></a>

    </header> <!-- end s-header -->


    <!-- intro
    ================================================== -->
    <section id="intro" class="s-intro target-section">

        <div class="row intro-content">

            <div class="column large-9 mob-full intro-text">
                <h3>Hello, I'm Connor McClure</h3>
                <h1>
                    Prospective Computer Science Student <br>
                    and Footballer <br>
                    Based In Cape Town.
                </h1>
            </div>

            <div class="intro-scroll">
                <a href="#about" class="intro-scroll-link smoothscroll">
                    Scroll For More
                </a>
            </div>

            <div class="intro-grid"></div>
            <div class="intro-pic"></div>

        </div> <!-- end row -->

    </section> <!-- end intro -->


    <!-- about
    ================================================== -->
    <section id="about" class="s-about target-section">

        <div class="about-me">

            <div class="row heading-block" data-aos="fade-up">
                <div class="column large-full">
                    <h2 class="section-heading">About Me</h2>
                </div>
            </div>

            <div class="row about-me__content" data-aos="fade-up">
                <div class="column large-full about-me__text">
                    <p class="lead">
                        I matriculated from Wynberg Boys’ High School in 2022 where I received colours for academics and
                        football. Over the last three years, I have also coached the ladies’ and girls’ football teams
                        and the U7 football team at my local club, where I was promoted to the senior first-team squad
                        at age 16
                        while also playing first team football at my school in the years proceeding.
                    </p>

                    <p>
                        During the end of my matric year, I suffered a major setback that has impacted me both
                        physically and mentally.
                        Two weeks into my matric final exams I received news that I had torn my ACL and Meniscus and
                        would therefore have
                        to undergo reconstructive surgery.
                    </p>

                    <p>
                        After persevering through the remainder of my exams, struggling to pull myself together, I
                        eventually did and have
                        been hard at work in the gym. Building myself up with the intention of becoming better than I
                        ever was. Using this
                        injury as a test of my resilience, determination and discipline. If I can comeback from this
                        setback, I can
                        comeback from anything life throws at me
                    </p>

                    <p>
                        Recently I have found enjoyment in programming, which has led me to the creation of this
                        website.
                        I have been busy with courses teaching the fundamentals of programming and would like to
                        continue this new
                        found passion in a computer science degree next year. I have attached some of my projects that I
                        have
                        completed recently. I will continue to update them.
                    </p>
                </div>
            </div>

            <div class="row about-me__buttons">
                <div class="column large-half tab-full" data-aos="fade-up">
                    <a href="/static/images/Connor McClure CV.pdf" class="btn btn--primary full-width">Download CV</a>
                </div>
                <div class="column large-half tab-full" data-aos="fade-up">
                    <a href="/static/images/matricCertificate.jpg" class="btn btn--primary full-width">Download Matric
                        Certificate</a>
                </div>
            </div>

        </div> <!-- end about-me -->

        <div class="about-experience">

            <div class="row heading-block" data-aos="fade-up">
                <div class="column large-full">
                    <h2 class="section-heading">Work & Education</h2>
                </div>
            </div>

            <div class="row about-experience__timeline">

                <div class="column large-half tab-full" data-aos="fade-up">
                    <div class="timeline">

                        <div class="timeline__icon-wrap">
                            <span class="timeline__icon timeline__icon--work"></span>
                        </div>

                        <div class="timeline__block">
                            <div class="timeline__bullet"></div>
                            <div class="timeline__header">
                                <p class="timeline__timeframe">2023</p>
                                <h3 class="item-title">Inflame</h3>
                                <h5>Website</h5>
                            </div>
                            <div class="timeline__desc">
                                <p>Built a website for inflame, a light engineering company. This was the start of my
                                    journey in programming and helped me determine that computer science is what I would
                                    like to study.</p>
                            </div>
                        </div>

                        <div class="timeline__block">
                            <div class="timeline__bullet"></div>
                            <div class="timeline__header">
                                <p class="timeline__timeframe">2021 - 2022</p>
                                <h3 class="item-title">Meadwowridge AFC</h3>
                                <h5>Football Coach</h5>
                            </div>
                            <div class="timeline__desc">
                                <p>I coached the U7 football team in 2021 as well as the ladies football team in 2022.
                                    Experience in coaching has helped me develop my leadership abilities on and off the
                                    field. Coaching has also developed my problem solving skills which is an important
                                    skill to have equipped.</p>
                            </div>
                        </div>

                        <div class="timeline__block">
                            <div class="timeline__bullet"></div>
                            <div class="timeline__header">
                                <p class="timeline__timeframe">Late 2020</p>
                                <h3 class="item-title">Locally</h3>
                                <h5>Maintenance Work</h5>
                            </div>
                            <div class="timeline__desc">
                                <p>I completed the odd jobs for people in my area. Doing things such as painting,
                                    carrying and mixing cement, laying bricks and gardening.</p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="column large-half tab-full" data-aos="fade-up">
                    <div class="timeline">

                        <div class="timeline__icon-wrap">
                            <span class="timeline__icon timeline__icon--education"></span>
                        </div>

                        <div class="timeline__block">
                            <div class="timeline__bullet"></div>
                            <div class="timeline__header">
                                <p class="timeline__timeframe">2023 - Current</p>
                                <h3 class="item-title">Udemy</h3>
                                <h5>The Complete Web Developer in 2023: Zero to Mastery
                                </h5>
                            </div>
                            <div class="timeline__desc">
                                <p>This course by ZTM on udemy will educate me on web development and teach me how to
                                    make use of HTML, CSS, Javascript, React and Node.js while exposing me to topics
                                    such as machine learning.</p>
                            </div>
                        </div>

                        <div class="timeline__block">
                            <div class="timeline__bullet"></div>
                            <div class="timeline__header">
                                <p class="timeline__timeframe">2023</p>
                                <h3 class="item-title">Udemy</h3>
                                <h5>Complete Python Developer in 2023: Zero to Mastery
                                </h5>
                            </div>
                            <div class="timeline__desc">
                                <p>This course taught me the fundamentals of Python3 as well as advanced topics such as
                                    Object Orientated Programming while exposing me to topics such as web scraping and
                                    data science with Python.</p>
                            </div>
                        </div>

                        <div class="timeline__block">
                            <div class="timeline__bullet"></div>
                            <div class="timeline__header">
                                <p class="timeline__timeframe">2018-2022</p>
                                <h3 class="item-title">Wynberg Boys' High School</h3>
                                <h5>National Senior Certificate</h5>
                            </div>
                            <div class="timeline__desc">
                                <p>Completed my National Senior Certificate with an average of 72%, with distinctions in
                                    English and Economics.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div> <!-- end about-experience -->

    </section> <!-- end s-about -->


    <!-- services
    ================================================== -->
    <section id="services" class="s-services ss-dark target-section">

        <div class="shadow-overlay"></div>

        <div class="row heading-block heading-block--center" data-aos="fade-up">
            <div class="column large-full">
                <h2 class="section-heading section-heading--centerbottom">Highlights</h2>

                <p class="section-desc">

                </p>
            </div>
        </div> <!-- end heading-block -->

        <div class="iframe-container">

            <iframe width="560" height="315" src="https://www.youtube.com/embed/Sd8JS5Du8C0"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>

        </div> <!-- end services-list -->

    </section> <!-- end s-services -->


    <!-- CTA
    ================================================== -->



    <!-- works
    ================================================== -->
    <section id="works" class="s-works target-section">

        <div class="row heading-block heading-block--center" data-aos="fade-up">
            <div class="column large-full">
                <h2 class="section-heading section-heading--centerbottom">My Projects</h2>
                <p class="section-desc">
                    Here are some of my Projects I have completed recently. I will be updating them as i
                    complete more.
                </p>
            </div>
        </div> <!-- end heading-block -->

        <div class="masonry-wrap">

            <div class="masonry">
                <div class="grid-sizer"></div>

                <div class="masonry__brick" data-aos="fade-up">
                    <div class="item-folio">
                        <div class="item-folio__thumb">
                            <a href="/static/images/hacker.jpg" class="thumb-link" title="Shutterbug"
                                data-size="1050x700">
                                <img src="/static/images/hacker.jpg" srcset="/static/images/hacker.jpg" alt="">
                            </a>
                            <a href="https://github.com/cmcclure12/password-checker.git"
                                class="item-folio__project-link" title="Project link" target="_blank"></a>
                        </div>

                        <div class="item-folio__text">
                            <h4 class="item-folio__title">
                                Password Checker Project
                            </h4>
                            <p class="item-folio__cat">
                                Tells you how many times your password has been involved in a data breach
                                (click link on bottom right of image)

                            </p>
                        </div>


                    </div>
                </div> <!-- end masonry__brick -->

                <div class="masonry__brick" data-aos="fade-up">
                    <div class="item-folio">
                        <div class="item-folio__thumb">
                            <a href="/static/images/web-scraping.jpg" class="thumb-link" title="Woodcraft"
                                data-size="1050x700">
                                <img src="/static/images/web-scraping.jpg" srcset="/static/images/web-scraping.jpg"
                                    alt="">
                            </a>
                            <a href="https://github.com/cmcclure12/web-scraping-project.git"
                                class="item-folio__project-link" title="Project link" target="_blank"></a>
                        </div>
                        <div class="item-folio__text">
                            <h4 class="item-folio__title">
                                Web Scraping Project
                            </h4>
                            <p class="item-folio__cat">
                                Sorts stories on Hacker News Website based on votes they have received
                                (click link on bottom right of image)
                            </p>
                        </div>
                        <div class="item-folio__caption">
                            <p></p>
                        </div>
                    </div>
                </div> <!-- end masonry__brick -->



            </div> <!-- end masonry -->

        </div> <!-- end masonry-wrap -->

    </section> <!-- end s-work -->


    <!-- testimonies
    ================================================== -->
    <section class="s-testimonials">
        <h6 class="section-heading section-heading--centerbottom">testimonials</h6>

        <div class="row testimonials" data-aos="fade-up">

            <div class="column large-full testimonials__slider">

                <div class="testimonials__slide">
                    <p>To whom it may concern.
                        It is with great pleasure that I testify on behalf of Connor McClure in my capacity as his class
                        tutor at Wynberg Boys' High School.
                        Connor is an insightful, intelligent and goal-oriented young man with an outstanding work ethic.
                        His determination to do well is exemplified by his performance on the soccer field. His
                        dedication to soccer has been rewarded as he represented the 1st team for the last two years.
                        Connor tends to be quiet but remains positive at all times and has a very good relationship with
                        his peers, as well as the staff with whom he has interacted during his high school career.
                        His sensitive and caring nature is something of which he can be proud and those who encounter
                        him welcome his friendly demeanour.
                        In the academic sphere, Connor has proven himself to be a young man who strives to attain the
                        best results he is capable of. Throughout the year, he has set himself high standards and goals
                        and worked hard to achieve these. He should achieve outstanding tertiary results in the field of
                        his choice with continued dedication to his studies.
                        We have no hesitation in recommending Connor and wish him every success for a very bright
                        future.
                        (click grey dot for next testimonial)</p>
                    <div class="testimonials__info">
                        <img src="/static/images/icons/icon-education.svg" alt="Author image"
                            class="testimonials__avatar">
                        <cite class="testimonials__cite">
                            <strong>Mr. B. Wiley</strong>
                            <span>Teacher, Wynberg Boys' High School</span>
                        </cite>
                    </div>
                </div> <!-- end testimonials__slide -->

                <div class="testimonials__slide">
                    <p></p>
                    <div class="testimonials__info">
                        <img src="/static/images/ball.jpg" alt="Author image" class="testimonials__avatar">
                        <cite class="testimonials__cite">
                            <strong>Rogan Nortje</strong>
                            <span>Club Coach</span>
                        </cite>
                    </div>
                </div> <!-- end testimonials__slide -->

                <div class="testimonials__slide">
                    <p>Connor, what can I say?
                        You took my breath away, you showed all of us what selflessness looks like. I cannot imagine the
                        pity and anger you must have experienced knowing that you won't be able to play. I recall seeing
                        you emotional in the last gym session and felt so sorry for you. Despite all of that you were
                        mature enough and wise enough to block those emotions out and not let it influence the team. You
                        got on the bus ready to serve the team.
                        The fact that you are being complemented without having played a minute says a lot about your
                        character.
                        You don't have to play football to grow and develop as a man. You showed that these last 5 days.
                        You where an asset to this team from day 1 and any team, corporate or otherwise will be
                        fortunate to have you on board.</p>
                    <div class="testimonials__info">
                        <img src="/static/images/ball.jpg" alt="Author image" class="testimonials__avatar">
                        <cite class="testimonials__cite">
                            <strong>School Coach</strong>
                            <span>Coach, Wynberg Boys' High School</span>
                        </cite>
                    </div>
                </div> <!-- end testimonials__slide -->

            </div> <!-- end testimonials__slider -->

        </div> <!-- end testimonials -->

    </section> <!-- end s-testimonials -->


    <!-- contact
    ================================================== -->
    <section id="contact" class="s-contact ss-dark target-section">

        <div class="row heading-block" data-aos="fade-up">
            <div class="column large-full">
                <h2 class="section-heading">Get In Touch With Me</h2>
            </div>
        </div>

        <div class="column large-6 tab-full">

            <h3></h3>

            <form action="form_submitted" method="post">
                <div>
                    <label for="sampleInput">Your Email</label>
                    <input name="email" class="full-width" type="email" placeholder="test@mailbox.com" id="sampleInput">
                </div>
                <div>
                    <label for="sampleRecipientInput">Subject</label>
                    <div class="ss-custom-select">
                        <select name="subject" class="full-width" id="sampleRecipientInput">
                            <option value="Education">Education</option>
                            <option value="Football">Football</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                </div>

                <label for="exampleMessage">Message</label>
                <textarea name="message" class="full-width" placeholder="Your message" id="exampleMessage"></textarea>



                <input class="btn--primary full-width" type="submit" value="Submit">


            </form>

        </div>

    </section> <!-- end s-contact -->


    <!-- footer
    ================================================== -->
    <footer>
        <div class="row">
            <div class="column large-full ss-copyright">
                <span>© Copyright Epitome 2019</span>
                <span>Design by <a href="https://www.styleshout.com/">StyleShout</a></span>
            </div>

            <div class="ss-go-top">
                <a class="smoothscroll" title="Back to Top" href="#top"></a>
            </div>
        </div>
    </footer>


    <!-- photoswipe background
    ================================================== -->
    <div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">

        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">

            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div><button class="pswp__button pswp__button--close"
                        title="Close (Esc)"></button> <button class="pswp__button pswp__button--share"
                        title="Share"></button> <button class="pswp__button pswp__button--fs"
                        title="Toggle fullscreen"></button> <button class="pswp__button pswp__button--zoom"
                        title="Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div><button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>

        </div>

    </div><!-- end photoSwipe background -->


    <!-- Java Script
    ================================================== -->
    <script src="/static/jquery-3.2.1.min.js"></script>
    <script src="/static/plugins.js"></script>
    <script src="/static/main.js"></script>

</body>